html { 
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;      
}

.displayTimeLeft {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
  white-space: pre-line;
  transition: all .3s;
}

.timerContainer {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.timerControls {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
}

.timerControls > * {
  flex: 1;
}

.timerControls form {
  flex: 1;
  display: flex;
}

.timerControls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timerButton, .timerModifiers, .voiceRecognitionButton {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  background: #32afa9;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.timerModifiers {
  display: none;
  width: 100px;
  margin: 0 4px;
}

.timerModifiers:focus,
.timerModifiers:hover {
  outline: 0;
  transition: .3s;
}

.pause:focus,
.pause:hover {
  background: #e7f0c3;
} 

.play:focus,
.play:hover {
  background: #b2dffb;
}

.stop:focus,
.stop:hover {
  background: #eb4d55;
} 

.timerButton:hover,
.timerButton:focus {
  background: #8bbabb;
  outline: 0;
}

.displayTimeContainer {
  background: #a4d4ae;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayEndTime {
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

.paused {
  opacity: .4;
  transition: all .3s;
  color: red;
}

.redText {
  opacity: .7
}
